<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Despachador</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src='/socket.io.js' type='text/javascript'></script>
</head>
<body>

<% if(pedidos.length > 0){ %>
    <h1>holaa</h1>
<% } %>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Despacha pedidos</h2>

                <table class="table table-striped" id="tableRow">
                    <th>Nombre comprador</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th></th>
                    </tr>
                    <% pedidos.forEach((pedido)=>{ %>
                    <tr>
                        <td><%= pedido.nombreUsuario %></td>
                        <td><%= pedido.estadoPedido %></td>
                        <td><%= pedido.totalConImpuesto %></td>

                        <td>
                            <form action="/api/despachador/despachar-pedido"
                                  method="post">
                                <label for="idPedido"></label>
                                <input id="idPedido" type="text" name="idPedido" value="<%= pedido.idPedido %>" hidden>
                                <button>Despachar</button>
                            </form>
                        </td>

                    </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-1"></div>
</div>


<script>

    const url = 'http://localhost:3010/websockets';
    const socket = io(url);
    console.log("adf")
    socket.on(
        'connect', //nombre del evento
        () => {
            console.log('Estamos conectados');
            //socket.disconnect();
            //socket.connect()
        }
    );
    socket.on(
        'comprado',
        (pedido) => {
            const tableRow = 'tableRow';
            const contenedor = document.getElementById(tableRow);
            const etiqueta = 'tr';
            const linea = document.createElement(etiqueta);
            const contenidoHTML = `
             <td>
                ${pedido.nombreUsuario}
             </td>
             <td>
                ${pedido.estadoPedido}
             </td>
             <td>
                ${pedido.totalConImpuesto}
             </td>
             <td>
                 <button class="btn btn-info">Despachar</button>
             </td>

`;
            linea.innerHTML = contenidoHTML;
            anadirEtiqueta(contenedor, linea);
        }
    )

    function anadirEtiqueta(contenedor, elementoHTML) {
        contenedor.appendChild(elementoHTML);
    }
</script>

</body>
</html>