<img id="imagen-muestra" src="/api/descargarArchivo/<%=idTrago%>" width="300px" height="300px" alt="">
<a href="/api/descargarArchivo/<%=idTrago%>" target="_blank">DESCARGAR ARCHIVO</a>
<form action="/api/subirArchivo/<%=idTrago%>" method="post" enctype="multipart/form-data">
    <label id="texto-archivo" class="boton-sin-seleccion" for="archivo">Seleccionar archivo</label>
    <input hidden accept=".pptx, .jpg" type="file" id="archivo" name="imagen" id="" multiple>
    <button onclick="validarArchivos()">Subir archivo</button>

</form>
<script>
    function validarArchivos() {
        const archivo= document.getElementById('archivo');
        console.log(archivo.files)
        const label= document.getElementById('texto-archivo')
        if(archivo.files.length > 0){
            label.className= 'boton boton-seleccionado'
            label.innerText= 'Archivo seleccionado :)'
            const file= archivo.files[0];
            const reader = new FileReader();
            reader.onload= (eventoLecturaArchivo) =>{
                console.log(eventoLecturaArchivo.target.result)
                const url= eventoLecturaArchivo.target.result;
                const imagenMuestra= document.getElementById('imagen-muestra');
                imagenMuestra.src = url
            }
        }else{
            label.className = 'boton boton-sin-seleccion'
            label.innerText = 'Seleccionar archivo'
        }
    }
</script>
<style>
    .boton{
        border: solid black 2px;
    }
    .boton-seleccionado{
        color: black;
        background-color: lightgreen;
    }
    .boton-sin-seleccion{
        color: white;
        background-color: black;
    }

</style>