<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h2,p, div{
            color: aquamarine;
            background-color: #c6ff72;
        }
        .verde{
            color: turquoise;
            background-color: beige;
        }
        #adios{
            color: blue;
        }
       p{
            color: #fff82a;
            background-color: #200eff;
        }
        .morada{
            color: deeppink;
        }
        .azul{
            color: purple;
        }

        .verde {
            color: green;
            background-color: beige;
        }
        p.verde {
            color: orangered;
            background-color: beige;
        }
        p.verde.azul {
            color: black;
            background-color: beige;
        }


    </style>
</head>
<body>
    <h1>Hola</h1>
    <h1 id="adios" class="verde" >Adios</h1>
    <h1 class="verde" style="color: red">Bienvenidos</h1>
    <p>Barcelona</p>
    <div>liga</div>
    <h2>Emelec</h2>
<p class="verde azul morada">HOLA MUNDO</p>
<div class="verde">VERDE UNO</div>
<p class="verde"> VERDE DOS</p>
    <p class="verde azul"> VERDE DOS</p>
</body>
</html>