<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Peliculas-lista</title>
        <meta charset="UTF-8">
        <link rel="icon"  href="imagenes/perrito.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--Header 1-6 -->
        <h1>titulo 1</h1>
        <h2>titulos 2</h2>
        <h3>titulo 3</h3>
        <h4>titulo 4</h4>
        <h5>titulo 5</h5>
        <h6>titulo 6</h6>
    <p>ESte es mi <span>otro parrafo</span> parrafo</p>
    <ul>
        <li>
            2
        </li>
        <li>1</li>
    </ul>
    <ol>
        <li>
            a

        </li>
        <li>c</li>
        <li>b</li>
    </ol>
    <!--Anchor-->
        <a href="http://www.google.com" target="_blank">Google externo</a>
        <a href="http://www.google.com" target="_top">Google aqui mismo</a>
        <img src="/imagenes/perrito.jpg" alt="perrito bonito">
        <form action="">
            <label for="nombre">input</label>
            <input id="nombre" type="text">
            <button>Enviar datos</button>
        </form>
        <label for="nombre">input</label>
        <input id="nombre" type="text">
        <button>Enviar datos</button>


        <br>
        <br>
        <br>
        <style>
            table, td, th{
                border: solid black 1px;
            }
        </style>
        <table>
            <tr>
                <th>nombres</th>
                <th>apellidos</th>
            </tr>
            <tr>
                <td>Jenny Sofía</td>
                <td>Guerrero Burbano</td>
            </tr>
        </table>
        <iframe src="https://saew.epn.edu.ec" frameborder="0"></iframe>
        <div>
            <legend>Hola Sofiii Att:Sofi</legend>
        </div>
    </body>
</html>
